*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
test/Manifest*.toml
dev/Manifest*.toml
tmp/
**/tmp.svg
dev/intermediate/*
dev/tmp.pdf
docs/src/**/*_files/libs
docs/src/**/*.html
docs/src/**/*.ipynb
docs/src/**/*Manifest.toml
docs/src_stash/*.ipynb
docs/src/tutorials/test.*
docs/src/tutorials/tmp*

docs/src_stash/test1_files/figure-commonmark/fig-limits-output-1.svg
docs/src_stash/*_files
docs/src_stash/*.md
docs/src_stash/*.html
